{% extends 'main/main.html' %}
{% block contentName %}歡迎登入{% endblock %}
{% block content %}

<form class="form-inline" role="form" method=post action={% url 'account:login' %}>
  {% csrf_token %}
  <div class=form-group>
    <p>
      <label>帳號:</label>
      <input class="form-control" autofocus name=username>
    </p>
    <p>
      <label>密碼:</label>
      <input class="form-control" name=password type=password></p>
    </p>
  <input class="btn btn-default" type=submit value=登入>
  </div>
</form>
{% endblock %}