{% extends 'main/base.html' %}
{% block contentName %}首頁{% endblock %}
{% block content %}
<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;text-align: center;">
    <strong><span id="docs-internal-guid-38f2956d-5b7d-ce15-d46a-3f25467c7568"><span style="font-size: 48px; font-family: Calibri; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">第九組</span></span></strong></p>
<h2 style="text-align: center;">
    <span style="font-size:20px;"><span id="docs-internal-guid-38f2956d-5b7d-ce15-d46a-3f25467c7568"><span style="font-family: Calibri; color: rgb(0, 0, 0); vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">10314078 張員榕 &nbsp;10314185 白嘉俊 10314075 張仲豪</span></span></span></h2>
<p>
    &nbsp;</p>
<h1 style="text-align: center;">
    <strong><span style="font-size:28px;">&ldquo;朝陽補習班管理系統&quot;</span></strong></h1>
<p style="text-align: center;">
    <span style="font-size:20px;">前端主要功能:瀏覽、查詢、新增、刪除 、修改</span></p>
<p style="text-align: center;">
    <span style="font-size:20px;">後端主要功能:資料的新增、刪除 、查詢、修改</span></p>
<h2 style="text-align: center;">
    <strong><span style="font-size:20px;">系統開發工具</span></strong></h2>
<p style="text-align: center;">
    <span style="font-size:20px;">前端:Django</span></p>
<p style="text-align: center;">
    <span style="font-size:20px;">後端:Oracle資料庫管理系統平台</span></p>

{% endblock %}